<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/formStyle.css">
</head>
<body>
    <main>
    <h1>Edit Your Task</h1>
    <div class="form-container">
        <form action="/editTask?_method=PATCH" method="post">
            <label>
                Title
                <textarea type="text" class="title" name="title"  oninput="autoSize(this)"><%=prevInput?.title || userTask?.title || ''%></textarea>
            </label>
            <p style="color: red;"> <%= errors?.title %> </p>
            <label>
                Description
                <textarea name="description" oninput="autoSize(this)"><%=prevInput?.description  || userTask?.description || ''%></textarea>
            </label>
            <p style="color: red;"><%= errors?.description %></p>
            <label>
                Due 
                <input name="dueDate" type="date" value="<%= (prevInput?.dueDate ? new Date(prevInput?.dueDate).toISOString().slice(0,10) : (userTask?.dueDate ? new Date(userTask?.dueDate).toISOString().slice(0,10) : '')) %>">
            </label>
            <p style="color: red;"><%= errors?.dueDate %></p>
            <button type="submit">Update</button>
        </form>
    </div>
    </main>
</body>
<script>
    function autoSize(element) {
        element.style.height = "auto";
        element.style.height = element.scrollHeight + "px";
    }
</script>
</html>